.img-cover{
    background-color: rgba(0, 125, 215, 0.7);
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    
}
img{
    padding: 10px
}
}
.main{
	width: 600px;
	margin-left: auto;
    margin-right: auto;
}